body{
    background-color: rgb(31, 31, 34);
    font-family: arial;
}


.game{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.table{
    width: 30em;
    height: 30em;
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
}

.fila1{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    left: 0;
}

.fila2{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    top: 10.1em;
    left: 0;
}

.fila3{
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    left: 0;
    top: 20em;
}
/*Filas*/

/*Lineas Divisoras*/
hr{
    position: absolute;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
}

.hr1{
    height: 29em;
    width: 15px;
    margin-right: 190px;
}
.hr2{
    height: 29em;
    width: 15px;
    margin-left: 170px;
}
.hr3{
    height: 15px;
    width: 29em;
    margin-top: 10em;
}
.hr4{
    height: 15px;
    width: 29em;
    margin-bottom: 11em;
}
/*Lineas Divisoras*/

/*Cuadrados*/
.cuadro{
    width: 165px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equis{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: rgb(246, 245, 255);
    transition: .5s;
    opacity: 0;
}

.circulo{
    position: absolute;
    display: fixed;
    justify-content: center;
    align-items: center;
    border: 18px solid rgb(26, 59, 207);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: none;
    transition: .5s;
    opacity: 0;
}
/*Cuadrados*/
@media only screen and (min-width: 300px) and (max-width: 500px){
    .game{
        left: 60px;
    }
    .circulo{
        width: 80px;
        height: 80px;
        border: 12px solid rgb(26, 59, 207);
    }
    .equis{
        font-size: 130px;
    }
    .hr1{
        right: 3em;

    }
    .hr2{
        left: 4em;
    }
    .hr3{
        margin-bottom: 23em;
    }
    .hr4{
        margin-top: 18em;
    }
    .fila2{
        top: 9em;
    }
    .fila3{
        top: 19em;
    }
}